.hero {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #9a1750;
  color: #fffcf5;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4rem 1rem;
}

.heroimage {
  width: 40%;
  /* height: 20rem; */
  margin-right: 2rem;
}

.headline {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: left;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: left;
}

.cta {
  background-color: #fffcf5;
  color: #9a1750;
  padding: 0.75rem 1.5rem;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 25px;
}

.cta:hover {
  background-color: #fff7e3;
}

/* Add the following media queries for responsive design */
@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr;
    max-width: 90%;
    margin: 0 auto;
  }
  .heroimage {
    /* display: 100%; */
    width: 100%;
  }

  .headline {
    font-size: 2rem;
  }

  .description {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 480px) {
  .headline {
    font-size: 1.5rem;
    text-align: center;
  }

  .description {
    font-size: 1rem;
    text-align: center;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
